@model PgsTwitter.Models.Home.HomeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    Hello, user @Html.DisplayFor(model => model.UserName) . Do you want to @Html.ActionLink("log out", "LogOut", "Login") ?
</p>
<p>
@Html.ActionLink("Messages", "List", "Message")
</p>
<p>
    All users:

    <ul>
        @{
            foreach (var name in Model.OtherUsersNames)
            {
                <li>
                    @using (Html.BeginForm("AddObserved", "Home"))
                    {
                        @Html.Hidden("ObservingUser", Model.UserName)
                        @Html.Hidden("ObservedUser", name)
                        @name <input type="submit" value="Like!" />
                    }

                </li>
            }
        }

    </ul>
</p>

<p>
    Users like by you:

    <ul>
        @{
            foreach (var user in Model.LikeUserNames)
            {
                <li>@Html.ActionLink(user, "List", "Message", new {username = user}, null)</li>
            }
        }

    </ul>
</p>

<p>
    You are liked by the following users:

    <ul>
        @{
            foreach (var name in Model.ObservedByUsers)
            {
                <li>@name</li>
            }
        }

    </ul>
</p>